<section class="user-form">

    <img src="https://s3.amazonaws.com/cbgriffin/banner.png" class="banner">

  <h2>Sign In</h2>

  <%= form_tag(users_url, method: 'post') do %>

    <div>
      <%= label_tag :email %><br />
      <%= text_field_tag :email %>
    </div>

    <div>
      <%= label_tag :password %><br />
      <%= text_field_tag :password %>
    </div>

    <div>
      <%= submit_tag "Sign In" %>
    </div>
  <% end %>


</section>

