<section class="user-form">

    <!-- <img src="https://s3.amazonaws.com/cbgriffin/banner.png" class="banner"> -->
    <%= image_tag 'banner_sign_in.png', :class => "reset_banner" %>

  <%= form_tag(users_url, method: 'post') do %>

    <div>
      <%= label_tag :email %><br />
      <%= text_field_tag :email %>
    </div>

    <div>
      <%= label_tag :password %><br />
      <%= text_field_tag :password %>
    </div>

    <div>
      <%= submit_tag "Sign In" %>
    </div>
  <% end %>


</section>

