<section class="user-form">

 <!--  <img src="https://s3.amazonaws.com/cbgriffin/banner.png" class="banner"> -->

 <%= image_tag 'banner_sign_up.png', :class => "reset_banner" %>

  <%= form_tag(users_url, method: 'post', multipart: true) do %>
    <div>
      <%= text_field_tag :first_name, nil, placeholder: "First name" %>
    </div>

    <div>
      <%= text_field_tag :last_name, nil, placeholder: "Last name" %>
    </div>

    <div>
      <%= text_field_tag :email, nil, placeholder: "Email address" %>
    </div>

    <div>
      <%= text_field_tag :username, nil, placeholder: "Username" %>
    </div>

    <div>
      <%= text_field_tag :password, nil, placeholder: "Password" %>
    </div>

    <div>
      <%= text_field_tag :password_confirmation, nil, placeholder: "Confirm your password" %>
    </div>

    <div>
      <%= label_tag :birthday %><br />
      <%= text_field_tag :birthday %>
    </div>

    <div>
      <%= label_tag :avatar %><br />
      <%= file_field_tag :avatar %>
    </div>

    <div>
      <%= submit_tag "Create User" %>
    </div>
  <% end %>

</section>



