<section class="user-form">

 <!--  <img src="https://s3.amazonaws.com/cbgriffin/banner.png" class="banner"> -->

 <%= image_tag 'banner_sign_up.png', :class => "reset_banner" %>

  <%= form_tag(users_url, method: 'post', multipart: true, data: {abide: true}) do %>

      <div>
      <%= text_field_tag :first_name, nil, placeholder: "First name" %>
      </div>

      <div>
      <%= text_field_tag :last_name, nil, placeholder: "Last name" %>
      </div>

      <div>
      <%= text_field_tag :email, nil, placeholder: "Email address", class: "field-check", required:true, pattern: "email"%>

        <small class="error">*Your e-mail doesnt look right...</small>
      </div>

      <div>
        <%= text_field_tag :username, nil, placeholder: "Username", class: "field-check", required:true, pattern: "alpha" %>

        <small class="error">*This is not a valid username...</small>
      </div>

      <div>
        <%= password_field_tag :password, nil, placeholder: "Password", class: "field-check", required:true, pattern: "password" %>

          <small class="error">*This is not a valid password...</small>
      </div>

    <div>
      <%= label_tag :birthday, nil, class: "birthday" %><br>
      <%= date_field_tag :birthday %>
    </div>

    <div class="avatar_checkbox">
      <%= label_tag :avatar, nil, class: "avatar_label" %>

      <%= file_field_tag :avatar, class: "avatar" %> 

    </div>

  

    <div class="check_box">
    <%= check_box_tag 'accept', class: "check_box" %><p>I agree to the <a href="#">Terms & Conditions</p></a>
    </div>
   


    <%= submit_tag "Submit!", class: "submit" %>


  <% end %>

</section>


